Repository kazamov/travel-trucks: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix

add home page
  package-lock.json
  package.json
  public/hero.webp
  public/hero@2x.webp
  src/components/Button.jsx
  src/components/Button.module.css
  src/components/Layout.jsx
  src/components/Layout.module.css
  src/pages/HomePage.jsx
  src/pages/HomePage.module.css
Due: stylelint --fix, prettier --write, eslint --fix

implement markup for catalog page
  .stylelintrc
  package-lock.json
  package.json
  src/api/api.js
  src/components/Button.jsx
  src/components/Button.module.css
  src/components/CamperCard.jsx
  src/components/CamperCard.module.css
  src/components/CampersList.jsx
  src/components/CampersList.module.css
  src/components/Chip.jsx
  src/components/Chip.module.css
  src/components/FilterCard.jsx
  src/components/FilterCard.module.css
  src/components/FilterForm.jsx
  src/components/FilterForm.module.css
  src/components/Icons.jsx
  src/components/Input.jsx
  src/components/Input.module.css
  src/components/Layout.jsx
  src/components/Layout.module.css
  src/components/Rating.jsx
  src/components/Rating.module.css
  src/index.css
  src/main.jsx
  src/pages/CatalogPage.jsx
  src/pages/CatalogPage.module.css
  src/pages/HomePage.jsx
  src/pages/HomePage.module.css
Due: stylelint --fix, prettier --write, eslint --fix

fetch real data and apply filters
  src/components/CamperCard.jsx
  src/components/CamperCardSkeleton.jsx
  src/components/CamperCardSkeleton.module.css
  src/components/CampersListSkeleton.jsx
  src/components/CampersListSkeleton.module.css
  src/components/Chip.module.css
  src/components/FilterCard.jsx
  src/components/FilterForm.jsx
  src/components/FilterForm.module.css
  src/pages/CatalogPage.jsx
  src/pages/HomePage.jsx
  src/store/campersOps.js
  src/store/campersSlice.js
  src/store/filtersSlice.js
Due: stylelint --fix, prettier --write, eslint --fix

save favorite campers to persisted storage
  package-lock.json
  package.json
  src/components/AddToFavoriteButton.jsx
  src/components/AddToFavoriteButton.module.css
  src/components/CamperCard.jsx
  src/components/CamperCard.module.css
  src/components/CamperCardSkeleton.jsx
  src/components/CamperCardSkeleton.module.css
  src/components/Icons.jsx
  src/main.jsx
  src/pages/CatalogPage.jsx
  src/store/campersSlice.js
  src/store/store.js
Due: stylelint --fix, prettier --write, eslint --fix

add camper page structure
  src/App.jsx
  src/components/CamperCard.jsx
  src/components/CamperCard.module.css
  src/components/CamperLocation.jsx
  src/components/CamperLocation.module.css
  src/components/CamperRating.jsx
  src/components/CamperRating.module.css
  src/lib/formatter.js
  src/pages/CamperPage.jsx
  src/pages/CamperPage.module.css
  src/pages/CatalogPage.module.css
  src/store/campersOps.js
  src/store/campersSlice.js
Due: stylelint --fix, prettier --write, eslint --fix

add booking form
  package-lock.json
  package.json
  src/components/BookCamperForm.jsx
  src/components/BookCamperForm.module.css
  src/components/CamperCard.jsx
  src/components/CamperCard.module.css
  src/components/CamperFeatures.jsx
  src/components/CamperFeatures.module.css
  src/components/Features.jsx
  src/components/Features.module.css
  src/components/Icons.jsx
  src/components/Input.jsx
  src/main.jsx
  src/pages/CamperPage.jsx
  src/pages/CamperPage.module.css
Due: stylelint --fix, prettier --write, eslint --fix

handle booking, show success toast
  src/components/BookCamperForm.jsx
  src/components/BookCamperForm.module.css
  src/components/Input.module.css
  src/components/Layout.jsx
  src/components/Toast.jsx
  src/components/Toast.module.css
  src/pages/CamperPage.jsx
Due: stylelint --fix, prettier --write, eslint --fix

scroll to the top when navigate to Camper page
  src/pages/CamperPage.jsx
Due: prettier --write, eslint --fix

complete features tab
  src/components/Features.jsx
  src/components/Features.module.css
  src/components/FilterForm.jsx
  src/index.css
Due: stylelint --fix, prettier --write, eslint --fix

complete review tab
  src/components/Features.jsx
  src/components/Rating.module.css
  src/components/Review.jsx
  src/components/Review.module.css
  src/components/Reviews.jsx
  src/components/Reviews.module.css
  src/pages/CamperPage.jsx
Due: stylelint --fix, prettier --write, eslint --fix

load pages components lazy and fix navigation link active state
  src/App.jsx
  src/components/Layout.jsx
Due: prettier --write, eslint --fix

update page not found, add meta tags
  index.html
  public/favicon.svg
  src/components/CamperPageContentSkeleton.jsx
  src/components/CamperPageContentSkeleton.module.css
  src/components/Features.jsx
  src/components/FeaturesSkeleton.jsx
  src/components/FeaturesSkeleton.module.css
  src/components/ReviewSkeleton.jsx
  src/components/ReviewSkeleton.module.css
  src/components/Reviews.jsx
  src/pages/CamperPage.jsx
  src/pages/HomePage.jsx
  src/pages/NotFoundPage.jsx
  src/pages/NotFoundPage.module.css
  src/store/campersOps.js
Due: stylelint --fix, prettier --write, eslint --fix

add size to logo
  src/components/Layout.jsx
Due: prettier --write, eslint --fix

add meta description
  index.html
Due: prettier --write

open camper details in the new tab, fix readme
  README.md
  src/components/CamperCard.jsx
Due: prettier --write, eslint --fix

Path conditions:
  stylelint --fix: any of: *.css
  prettier --write: ((any of: *.css) or (any of: *.{js,jsx})) or (any of: *.{json,html,md})
  eslint --fix: any of: *.{js,jsx}
